<div class="total-comment" id="comment_<%= comment.id %>">
  <div class="comment-info">
    <span class="user-id">
      <strong>
        <%= comment.user != nil && comment.user.name != nil ? comment.user.name : "anonymous" %>
      </strong>
    </span>
    . <%= comment.created_at.strftime('%H:%M %b %d') %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% if can? :destroy, comment %>
    <%= link_to '[ x ]', [comment.post, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' },
      remote: true
    %>
  <% end %>
</div>
