<%= form_with(model: [ @post, @post.comments.build ]) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Comment", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
