<h1 class="main-heading">Near You</h1>
<div class="new-post">
  [ <%= link_to 'Create a New Post', new_post_path %> ]
</div>

<div class="post-list-container">
  <% @posts.each do |post| %>
    <div class="link row clearfix">

      <div class="pic">
        <%= image_tag post.picture.url(:normal) %>
      </div>

      <div class="post-content-container">
        <div class="post-voting">
          <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up vote"></span>
          <% end %>

          <%= link_to dislike_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down vote"></span>
          <% end %>
        </div>

        <div class="post-content">
            <div class="author-details">
              <span class="user-id"><strong><%= post.user != nil && post.user.name != nil ? post.user.name : "anonymous" %></strong></span>
              . <%= post.distance.round %> miles away
              . <%= time_ago_in_words(post.created_at, include_seconds: true) %> ago
            </div>
          <h4 class="main-content">
            <%= post.content %>
          </h4>
        </div>

        <div class="post-links">
          <% if post.comments.count <= 2 %>
          <%= link_to 'Show', post_path(post) %> |
          <% end %>
          <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>


      <div class="recent-comment-container">
        <% if post.comments.count > 2 %>
          <div class="omitted-comments">
            <%= post.comments.count %> total comments. <%= link_to 'Click here', post_path(post) %> to view.
          </div>
        <% end %>
        <% if post.comments.last %>
          <% post.comments.last(2).each do |comment| %>
            <div class="recent-comment">
              <div class="comment-info">
                <span class="user-id">
                  <strong>
                    <%= comment.user != nil && comment.user.name != nil ? comment.user.name : "anonymous" %>
                  </strong>
                </span>
                . <%= comment.created_at.strftime('%H:%M %b %d') %>
              </div>
              <div class="comment-content">
                <%= comment.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>


    </div>
  <% end %>

  <%= paginate @posts %>
</div>
