<h1 class="main-heading">Near You</h1>
<div class="new-post">
  [ <%= link_to 'Create a New Post', new_post_path %> ]
</div>

<% @posts.each do |post| %>
  <div class="link row clearfix">

    <div class="voting">
      <%= link_to like_post_path(post), method: :put do %>
      <span class="up-arrow glyphicon glyphicon-chevron-up"></span>
      <% end %>
      <span class="score"><%= post.weighted_score %></span>
      <%= link_to dislike_post_path(post), method: :put do %>
      <span class="down-arrow glyphicon glyphicon-chevron-down"></span>
      <% end %>
    </div>

    <div class="post-content">
      <h4>
        <div>
          (<%= post.latitude %>, <%= post.longitude %>)REMOVE
        </div>
        <div class="main-content">
          <%= post.content %>
        </div>
        <small class="author"><%= time_ago_in_words(post.created_at, include_seconds: true) %> by <%= post.user != nil && post.user.name != nil ? post.user.name : "anonymous" %></small>
        <%= link_to 'Show', post_path(post) %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
      </h4>
      <%= post.distance.round %> miles away
    </div>

  </div>
<% end %>

<%= paginate @posts %>
