<%= link_to '< back', posts_path %>

<div>

  <div class="pic">
    <%= image_tag @post.picture.url(:normal) %>
  </div>

  <div class="post-content-container">

    <%= render partial: "vote", locals: { post: @post } if user_signed_in? %>

    <div class="post-content">
        <div class="author-details">
          <span class="user-id"><strong><%= @post.user != nil && @post.user.name != nil ? @post.user.name : "anonymous" %></strong></span>
          . <span id="weighted_score"><%= @post.weighted_score %></span> points
          . <%= time_ago_in_words(@post.created_at, include_seconds: true) %> ago
        </div>
      <h4 class="main-content">
        <%= @post.content %>
      </h4>
    </div>

    <div class="post-links">
      <% if can? :update, @post %>
        <%= link_to 'Edit', edit_post_path(@post) %>
      <% end %>
      <% if (can? :update, @post) && (can? :destroy, @post) %>
        |
      <% end %>
      <% if can? :destroy, @post %>
        <%= link_to 'Destroy', post_path(@post),
                               method: :delete,
                               data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>

  <div id="comment-list">
    <%= render @post.comments %>
  </div>

  <%= render 'comments/form' %>

</div>
