<p class="content-0">
  <%= @post.content %>
</p>

<p class="time-submit">
  <%= time_ago_in_words(@post.created_at) %> ago
  | <%= link_to 'Edit', edit_post_path(@post) %>
  | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<div id="comments">
  <p><%= @post.comments.count %> comments</p>
  <p><%= render @post.comments %></p>
  <p>add a comment:</p>
  <%= render "comments/form" %>
</div>
